body {
    font-family: Verdana;
    background-color: gray;
    color: aliceblue;
}

table {
    border: 2px solid aliceblue;
    border-collapse: collapse;
    margin-top: 1em;
    text-align: left;
}

th, td {
    border: 2px solid aliceblue;
    padding:.6em;
}

a,p,h1,h2,h3 {
    color: aliceblue;
}